@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  @apply transition-colors duration-200;
}

.editorText p{
  margin: 0;
}

.subject{
  font-weight: bold;
}

.mailBody{
  font-weight:200;
}

.date{
  font-size: small;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.hidden-editor .rdw-editor-main {
  display: none;
}

.mailto{
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.custom-wrapper {
  display: flex;
  flex-direction: column; 
  padding: 10px;/* Reverses the order */
}

.custom-modal-size .modal-dialog {
  width: 80vw;  /* 80% of viewport width */
  max-width: 900px;  /* Set max width */
}

.custom-modal-size .modal-content {
  height: 70vh; /* 70% of viewport height */
}

.subject-editor{
  min-height: 40px;
  max-height: 80px;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.body-editor {
  min-height: 50vh;
  max-height: 700px;
  width: 100%;
  padding: 5px;
}

.side_bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: large;
}
.side_bar:hover{
  background-color: rgb(96, 177, 232);
  border-left: 3px solid blue;
  color: white;
  cursor: pointer;
}

.form_container{
  width:30%;
}

@media screen and (max-width:1000px) {
  .form_container{
    width:45%;
  }
}
@media screen and (max-width:700px) {
  .form_container{
    width:65%;
  }
}