@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  @apply transition-colors duration-200;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  
}

.form_container{
  width:30%;
}
@media screen and (max-width:1000px) {
  .form_container{
    width:45%;
  }
}
@media screen and (max-width:700px) {
  .form_container{
    width:65%;
  }
}